* {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  min-height: 100vh;
  background-color: #dddddd;
  text-align: center;
}
.content {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.browser {
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #333333;
}
.browser__input {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  border:2px solid #333333;
}
.browser__button {
  width: 30%;
  height: 40px;
  background-color: #009;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.browser__button:hover{
  background-color: #00c;
}
.label {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #333333;
}
.label__number {
  width: 10%;
}

.label__city {
  width: 25%;
}
.label__temperature {
  width: 40%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
}

.listItem {

  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #333333;
  animation: liCraetion 0.1s;
  overflow: hidden;
}
.listItem__id{
  width: 10%;
}

.listItem__city {
 
  width: 30%;
  text-transform: capitalize;
}
.listItem__temperature {
  width: 40%;
  transform-origin: center center;
  animation:rotate 0.5s infinite steps(8);
}
.listItem__temperature--active{
  width: 40%;
  animation:none;
}
.listItem__delButton{
  width: 30%;
  height: 70%;
  margin-left: auto;
  background-color: #aaa;
  border: #333333 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s;
}
.listItem__delButton--active {
  background-color: #fff;
  border: #751515 2px solid;
}

@media (max-width:800px){
  .container{
    width: 100%;
  }
  .content{
    margin-top: 50px;
    width: 90%;
    font-size: 90%;
  }


}

@media (max-width:320px){
  .content{
    font-size: 80%;
  }
}


@keyframes rotate{
  from{
    transform: rotate(0deg)
  }
  to{
    transform:rotate(360deg)
  }
}

@keyframes liCraetion{
  from{
    height: 0;
  }
  to{
    height: 60px;
  }
}